<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zh.mapper.StatisticsMapper">

    <resultMap id="resultMapStatisticsAndUser" type="Statistics">
        <result property="sid" column="sId"/>
        <result property="alltopic" column="alltopic"/>
        <result property="correctanswer" column="correctanswer"/>
        <result property="erroranswer" column="erroranswer"/>
        <result property="fraction" column="fraction"/>
        <result property="starttime" column="starttime"/>
        <result property="endtime" column="endtime"/>
        <result property="answernumber" column="answernumber"/>
        <result property="subject" column="subject"/>
        <result property="myanswer" column="myanswer"/>
        <result property="allanswer" column="allanswer"/>
        <association property="userbase" javaType="Userbase">
            <result property="userId" column="userId"/>
            <result property="userName" column="userName"/>
            <result property="source" column="source"/>
        </association>
    </resultMap>

    <insert id="addStatistics" parameterType="Statistics">
        insert into
        statistics (alltopic, correctanswer, erroranswer, fraction, userId, starttime, endtime, answernumber, subject, myanswer, allanswer)
        values (#{alltopic}, #{correctanswer}, #{erroranswer}, #{fraction}, #{userbase.userId}, #{starttime}, #{endtime}, #{answernumber}, #{subject}, #{myanswer}, #{allanswer});
    </insert>

    <select id="findByUserId" parameterType="string" resultMap="resultMapStatisticsAndUser">
        select * from statistics s,userbase u where s.userId = #{userId} and u.userId = s.userId order by sId desc;
    </select>

    <select id="findStatisticsAll" resultMap="resultMapStatisticsAndUser">
        select * from statistics s,userbase u where u.userId = s.userId order by sId desc;
    </select>

    <!--
    转义字符
    原符号	  <	   <=	   >	   >=	    &	     '	      "
    替换符号	&lt;	&lt;=	&gt;	&gt;=	&amp;	&apos;	&quot;
    -->
    <!--数量-->
    <select id="findRankingAndNumber" parameterType="map" resultType="map">
        select u.userName,u.source,sum(s.answernumber) val
        from statistics s,userbase u
        where s.userId = u.userId
        <if test="time == 'today'">
            and str_to_date(s.starttime,"%Y-%m-%d %H:%i:%S") &gt;= curdate()
            and str_to_date(s.endtime,"%Y-%m-%d %H:%i:%S") &lt;= date_sub(curdate(),interval -1 day)
        </if>
        group by s.userId
        order by sum(s.answernumber) desc
        limit 10;
    </select>

    <!--总分-->
    <select id="findRankingAndScore" parameterType="map" resultType="map">
        select u.userName,u.source,sum(s.fraction) val
        from statistics s,userbase u
        where s.userId = u.userId
        <if test="time == 'today'">
            and str_to_date(s.starttime,"%Y-%m-%d %H:%i:%S") &gt;= curdate()
            and str_to_date(s.endtime,"%Y-%m-%d %H:%i:%S") &lt;= date_sub(curdate(),interval -1 day)
        </if>
        group by s.userId
        order by sum(s.fraction) desc
        limit 10;
    </select>

    <!--正确率-->
    <select id="findRankingAndCorrect" parameterType="map" resultType="map">
        select u.userName,u.source,convert(sum(s.fraction)/(sum(s.answernumber)*2),decimal(15,2)) val
        from statistics s,userbase u
        where s.userId = u.userId
        <if test="time == 'today'">
            and str_to_date(s.starttime,"%Y-%m-%d %H:%i:%S") &gt;= curdate()
            and str_to_date(s.endtime,"%Y-%m-%d %H:%i:%S") &lt;= date_sub(curdate(),interval -1 day)
        </if>
        group by s.userId
        order by convert(sum(s.fraction)/(sum(s.answernumber)*2),decimal(15,2)) desc
        limit 10;
    </select>


</mapper>